@model IEnumerable<PointOfSales.Models.Bill>

@{
    ViewBag.Title = "Table Bills";
}

<h2>Table Bills</h2>

<p>
    @Html.ActionLink("Add Menu Item", "Create")
</p>

<p>
    @using (Html.BeginForm("Index", "Bills", FormMethod.Get))
    {
    <b>Search by Table</b>
    @Html.TextBox("search") <input type="submit" value="Search"/>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Menu.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menu.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkProfile.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Menu.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Menu.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkProfile.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TableNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) | 
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


<div>
    <b>Total:</b> @ViewBag.total<br />
</div>

<h2>      </h2>

@if (ViewBag.total == null)
{ }
else
{ <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="S8FMFT258Q2XG">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="amount" value=@ViewBag.total>
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="tax_rate" value="5.500">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

    <h2>      </h2>

    <a href="@Url.Action("DeleteBill","Bills")"><input type="image" src="~/Images/delete-all-button-blue-hi.png" width="70" height="30" /></a>
}


    


